<%- include("./partials/head")%>
<%- include("./partials/header")%>

<body>
    <main id="main-admin-products">
            <h2 class="admin-products-add">Detalhe do Produto</h2>
            <p><%= product.name %> </p>
            <p><%= product.Brand.name %> </p>
            <p><%= product.flavor %> </p>
            <p><%= product.roast %> </p>
            <p><%= product.description %> </p>
            <p><%= product.content %> </p>
            <p><%= product.format %> </p>
            <p><%= product.price %> </p>
            <p><%= product.installment %> </p>
            <p><%= product.sku %> </p>
            <p><%= product.quantity %> </p>
            <p><%= product.Categories[0].name %> </p>
            <% if(product.active){ %>
                <p>Ativo</p>
            <% }else{ %>
                <p>Inativo</p>
            <% } %>
            
            <img src="/img/<%= product.ImageProducts[0].name %>" alt="">

    </main>
<%- include("./partials/scriptBootstrap")%>
</body>