<%- include("./partials/head")%>
<%- include("./partials/header")%>

<body>
    <main id="main-admin-products">
            <h1 class="admin-products-title">Painel do Administrador</h1>
            <div id="admin-products-list">
                <% if(products.length>0){ %>
                    <table class="table-admin-products">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Código</th>
                                <th>Quantidade</th>
                                <th>Categoria</th>
                                <th>Status</th>
                                <th>Ação</th>
                        </thead>
                        <tbody>
                            <!-- Trazendo os produtos cadastrados -->
                            <% for(let product of products){ %>
                                <tr>
                                    <td><%= product.name %></td>
                                    <td><%= product.sku %></td>
                                    <td><%= product.quantity %></td>
                                    <td><%= product.Categories[0].name %></td>
                                    <% if(product.active){ %>
                                        <td>Ativo</td>
                                    <% }else{ %>
                                        <td>Inativo</td>
                                    <% } %>
                                    <td class="admin-products-actions">
                                        <a href="/admin/produtos/<%= product.id %>">Visualizar</a>
                                        <a href="/admin/produtos/editar/<%= product.id %>">Editar</a>
                                        <a href="/admin/produtos/deletar/<%= product.id %>">Excluir</a>
                                    </td>
                                </tr>
                            <% } %>                         
                        </tbody>
                    </table>
                <% }else{ %>
                    <h2>Nenhum produto encontrado.</h2>
                <% } %>

            </div>
    </main>
</body>