<%- include("./partials/head")%>
<%- include("./partials/header")%>

<body>
    <main id="main-admin-products">
            <h1 class="admin-products-title">Listagem de Produtos</h1>
            <a href="/admin/produtos/cadastro">
                <button class="btn-edit-forms mt-5">Cadastrar novo produto</button>
            </a>
            <div id="admin-products-list">
                <% if(products.length>0){ %>
                    <table class="table-admin-products">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Código</th>
                                <th>Quantidade</th>
                                <th>Categoria</th>
                                <th>Status</th>
                                <th>Ação</th>
                        </thead>
                        <tbody>
                            <!-- Trazendo os produtos cadastrados -->
                            <% for(let product of products){ %>
                                <tr>
                                    <td><%= product.name %></td>
                                    <td><%= product.sku %></td>
                                    <td><%= product.quantity %></td>
                                    <td><%= product.Categories[0].name %></td>
                                    <% if(product.active){ %>
                                        <td>Ativo</td>
                                    <% }else{ %>
                                        <td>Inativo</td>
                                    <% } %>
                                    <td class="admin-products-actions">
                                        <a href="/admin/produtos/<%= product.id %>">
                                            <button class="btn-edit-forms my-0 mx-2">Visualizar</button>
                                        </a>
                                        <a href="/admin/produtos/editar/<%= product.id %>">
                                            <button class="btn-edit-forms my-0 mx-2">Editar</button>
                                        </a>
                                        <a href="/admin/produtos/deletar/<%= product.id %>">
                                            <button class="btn-delete my-0 mx-2">Excluir</button>
                                        </a>
                                    </td>
                                </tr>
                            <% } %>                         
                        </tbody>
                    </table>
                <% }else{ %>
                    <h2>Nenhum produto encontrado.</h2>
                <% } %>

            </div>
    </main>
<%- include("./partials/scriptBootstrap")%>
</body>