<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-personalData" class="container-md user-panel">
  <div class="title-personal-data">
    <h2>Meus Dados</h2>
  </div>
  <div class=" row">
    <%- include('./partials/userPanelControl')%>
    <div class="row col-md-9 forms-panel-user">
      
     
      <form action="POST" >
        <div class="img-user d-flex align-items-start">
          <div class="img">
            <img   src="/img/TikTok.png" alt="imagem de perfil">
          </div>
          <div class="img-edit">
             <i
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                fill="currentColor"
                class="bi bi-pencil"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                /></svg
            ></i>
            <a href="#">Editar foto</a>
          </div>
        </div>
        <div class="container-input col mb-3">
          <label for="myEmail">E-mail*</label>
          <input type="email"  id="myEmail" placeholder="jose.silva@email.com" value="<%= user.email %> ">
      
        </div>
        <div class="container-input mb-3">
          <label for="fullName" >Nome completo*</label>
          <input type="text" class="form-control" id="fullName" placeholder="jose da siva" value="<%= user.nome %> <%= user.sobrenome %> ">
      
        </div>
        <div class="container-input  mb-3">
          <label for="myCpf">CPF</label>
          <input type="text"  id="myCpf" placeholder="123.456.789-10" value="<%= user.cpf %>">
      
        </div>
        <div class="container-input col-md-12">
          <label for="
          indemnification">RG</label>
          <input type="text"  id="
                indemnification" placeholder="">
      
        </div>
        <div class="container-input col-md-12">
          <label for="birthDate">Data de nascimento</label>
          <input type="date" id="birthDate" placeholder="dd/mm/aaa">
      
        </div>
        <div class="container-input col-md-12">
          <label for="fone" >Telefone</label>
          <input type="text" id="fone" placeholder="(DD) NNNN-NNNN">
      
        </div>
        <div class="container-input col-md-12 ">
          <label for="fone">Telefone celular</label>
          <input type="text"  id="foneCel" placeholder="(DD) 99999-9999">
      
        </div>
        <div class="container-input col-md-12">
          <label for="selectd-genre">Gênero</label>
          <select  name="genre" id="selectd-genre">
            <option selected value="1"></option>
            <option value="2">Feminino</option>
            <option value="3">Masculino</option>
          </select>
      
        </div>
        <div class="form-check col-md mt-3 ps-5">
          <input type="checkbox" class="form-check-input" id="checked" checked>
          <label for="checked" class="form-check-label">Desejo receber e-mails promocionais</label>
        </div>
        <div class="save-btn">
          <input type="submit" value="Salvar alterações" class="btn-edit-forms">
        </div>
      </form>
    </div>
  </div>

<%- include("./partials/footer")%>