<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main id="main-product">
  <!-- Verificando se a variável user existe -->
  <% if(locals.product){%>

        <section id="product-picture">
          <div class="picture-border">
            <img src="/img/<%= product.image %>" alt="<%= product.title %>">
          </div>
        </section>
        <div id="container-details-product">       
          <section id="identification">
          <h1 class="product-name"><%= product.title %></h1>
          <div class="bg-product-features">
            <h6>Marca: <%= product.brand %></h6>
            <h6>Formato: <%= product.format %></h6>
            <h6>Ref: <%= product.sku %> </h6>
          </div>
          </section>
          <section id="about">
          <h1 class="price">R$ <%= product.price %></h1>
          <h6 class="price-options">10x 2,99 sem juros</h6>
          <form id="delivery" action="">
            <label for="shipping">Calcular frete</label>
            <input type="number" name="shipping" id="shipping" placeholder="00000-000">
          </form>
          <a href="" class="center">
            <button type="button" class="btn-edit-forms">Adicionar à sacola</button>
          </a>
          <h4 class="description">Descrição</h4>
          <p class="description2"><%= product.description %></p>
          <h4 class="content">Conteúdo</h4>
          <p class="content2"><%= product.content %></p>
          </section>
        </div>
    </div>
     
  <% } %>

<%- include("./partials/footer")%>