<%- include("./partials/head")%>
<%- include("./partials/header")%>

<main>
    <section id="filter-bar-mobile">
        <div>
            <a href="">
                <button class="btn-filter-mobile">Filtrar e ordenar</button>
            </a>
        </div>
    </section>
    <section id="filter-bar-tablet-desktop">
        <div>
          <form action="/produtos" method="GET">
            <label for="filter-category">Filtrar:</label>
            <select name="categoria" id="filter-category">
                <option disabled selected>Categoria</option>
                <% categories.forEach(item=>{ %>
                    <option value="<%= item.name %>"> <%= item.name %> </option>
                <% }) %>
            </select>
            <select name="marca" id="filter-brand">
                <option disabled selected>Marca</option>
                <% brands.forEach(item=>{ %>
                    <option value="<%= item.name %>"> <%= item.name %> </option>
                <% }) %>
            </select>
            <button type="submit" class="btn-edit-forms">Ok</button>
          </form>
        </div>
        <div>
            <label for="filter-order">Ordenar:</label>
            <select name="filter-order" id="filter-order">
                <option value="" selected disabled>Selecione</option>
                <option value="new-products">Lançamentos</option>
                <option value="best-sellers">Mais Vendidos</option>
                <option value="lowest-price">Menor Preço</option>
                <option value="biggest-price">Maior Preço</option>
            </select>
        </div>
    </section>
    <section id="product-listing-section">
        <div class="title-section">
            <h2>Produtos</h2>
        </div>
        <% if(products.length>0){%>
          <ul class="product-list">

            <% products.forEach(product => { %>

              <li class="product-listing-item col-10 col-md-6 col-lg-3">
                <a href="/produtos/<%= product.id %>">
                  <div class="product-img">
                    <img src="/img/<%= product.ImageProducts[0].name %>" alt="">
                  </div>
                  <h4 class="product-list-title underline-hover"><%= product.name %></h4>
                  <p class="product-list-features"><%= product.flavor %></p>
                  <p class="product-list-features"><%= product.roast %></p>
                  <p class="product-list-price">R$ <%= product.price.replace(".",",") %></p>
                </a>
                <a href="/carrinho">
                  <button type="button" class="btn-edit-forms col-12">Adicionar à sacola</button>
                </a>
              </li>
            
            <% }) %>

            </ul>

          <% }else{ %> 

            <h3>Nenhum produto encontrado.</h3>
      
          <% } %> 

          <nav aria-label="Page navigation example" class="d-flex justify-content-center mb-5">
            <ul class="pagination">
              <% for( let i = 1; i <= totalPages; i++ ) { %>
                <li class="page-item"><a class="page-link" href="?pagina=<%= i %>"><%= i %></a></li>
              <% } %>  
            </ul>
          </nav>

    </section>

<%- include("./partials/footer")%>    